#tag-alcohol:before { content: "🍸 " ;}
#tag-american:before { content: "🇺🇸 " ; }
#tag-apple:before { content: "🍎 " ; }
#tag-argentinian:before { content: "🇦🇷 " ; }
#tag-asian:before { content: "🥢 " ; }
#tag-australian:before { content: "🇦🇺 " ; }
#tag-austrian:before { content: "🇦🇹 " ; }
#tag-bacon:before { content: "🥓 " ; }
#tag-banana:before { content: "🍌 " ; }
#tag-beans:before { content: "🫘 " ; }
#tag-beef:before { content: "🐄 " ; }
#tag-beetroot:before { content: "🫜 " ; }
#tag-belgian:before { content: "🇧🇪 " ; }
#tag-blueberry:before { content: "🫐 " ; }
#tag-brazilian:before { content: "🇧🇷 " ; }
#tag-bread:before { content: "🍞 " ; }
#tag-breakfast:before { content: "🌅 " ; }
#tag-broccoli:before { content: "🥦 " ; }
#tag-cake:before { content: "🍰 " ; }
#tag-cheese:before { content: "🧀 " ; }
#tag-chicken:before { content: "🐔 " ; }
#tag-chinese:before { content: "🐉 " ; }
#tag-chocolate:before { content: "🍫 " ; }
#tag-christmas:before { content: "🎄 " ; }
#tag-coconut:before { content: "🥥 " ; }
#tag-cookies:before { content: "🍪 " ; }
#tag-corn:before { content: "🌽 " ; }
#tag-curry:before { content: "🍛 " ; }
#tag-danish:before { content: "🇩🇰 " ; }
#tag-dessert:before { content: "🍮 " ; }
#tag-dominican:before { content: "🇩🇴 " ; }
#tag-drink:before { content: "🍹 " ; }
#tag-duck:before { content: "🦆 " ; }
#tag-dumpling:before { content: "🥟 " ; }
#tag-dutch:before { content: "🇳🇱 " ; }
#tag-easter:before { content: "✝️ " ; }
#tag-eggs:before { content: "🥚 " ; }
#tag-english:before { content: "🏴󠁧󠁢󠁥󠁮󠁧󠁿 " ; }
#tag-fasting:before { content: "☦️ " ; }
#tag-filipino:before { content: "🇵🇭 " ; }
#tag-finnish:before { content: "🇫🇮 " ; }
#tag-fish:before { content: "🐟 " ; }
#tag-french:before { content: "🇫🇷 " ; }
#tag-fruit:before { content: "🍇 " ; }
#tag-german:before { content: "🇩🇪 " ; }
#tag-greek:before { content: "🇬🇷 " ; }
#tag-ham:before { content: "🐖 " ; }
#tag-high-protein:before { content: "💪 " ; }
#tag-indian:before { content: "🇮🇳 " ; }
#tag-irish:before { content: "🇮🇪 " ; }
#tag-israeli:before { content: "🇮🇱 " ; }
#tag-italian:before { content: "🇮🇹 " ; }
#tag-japanese:before { content: "🇯🇵 " ; }
#tag-keto:before { content: "🥩 " ; }
#tag-lamb:before { content: "🐑 " ; }
#tag-lebanese:before { content: "🇱🇧 " ; }
#tag-lemons:before { content: "🍋 " ; }
#tag-light:before { content: "🪶 " ; }
#tag-liquor:before { content: "🥃 " ; }
#tag-low-carb:before { content: "🥑 " ; }
#tag-lunch:before { content: "🍱 " ; }
#tag-meat:before { content: "🥩 " ; }
#tag-mediterranean:before { content: "🫒 " ; }
#tag-mexican:before { content: "🇲🇽 " ; }
#tag-milk:before { content: "🥛 " ; }
#tag-mushrooms:before { content: "🍄 " ; }
#tag-new-zealand:before { content: "🇳🇿 " ; }
#tag-palestinian:before { content: "🇵🇸 " ; }
#tag-pancake:before { content: "🥞 " ; }
#tag-pasta:before { content: "🍝 " ; }
#tag-pastry:before { content: "🧁 " ; }
#tag-peppers:before { content: "🫑 " ; }
#tag-peruvian:before { content: "🇵🇪 " ; }
#tag-pie:before { content: "🥧 " ; }
#tag-pizza:before { content: "🍕 " ; }
#tag-polish:before { content: "🇵🇱 " ; }
#tag-pork:before { content: "🐖 " ; }
#tag-portuguese:before { content: "🇵🇹 " ; }
#tag-potato:before { content: "🥔 " ; }
#tag-pumpkin:before { content: "🎃 " ; }
#tag-quebec:before { content: "⚜️ " ; }
#tag-quick:before { content: "🏃 " ; }
#tag-raw:before { content: "🍖 " ; }
#tag-rice:before { content: "🍚 " ; }
#tag-romanian:before { content: "🇷🇴 " ; }
#tag-russian:before { content: "🇷🇺 " ; }
#tag-salad:before { content: "🥗 " ; }
#tag-sandwich:before { content: "🥪 " ; }
#tag-seafood:before { content: "🦐 " ; }
#tag-shrimp:before { content: "🍤 " ; }
#tag-soup:before { content: "🍜 " ; }
#tag-sourdough:before { content: "🥖 " ; }
#tag-southwest:before { content: "🤠 " ; }
#tag-spanish:before { content: "🇪🇸 " ; }
#tag-spice:before { content: "🧂 " ; }
#tag-spicy:before { content: "🌶️ " ; }
#tag-spread:before { content: "🧈 " ; }
#tag-steak:before { content: "🥩 " ; }
#tag-stew:before { content: "🍲 " ; }
#tag-sugar-aware:before { content: "📉🍬 " ; }
#tag-swedish:before { content: "🇸🇪 " ; }
#tag-sweet:before { content: "🍯 " ; }
#tag-swiss:before { content: "🇨🇭 " ; }
#tag-thai:before { content: "🇹🇭 " ; }
#tag-tofu:before { content: "◻️ " ; }
#tag-tomato:before { content: "🍅 " ; }
#tag-tunisian:before { content: "🇹🇳 " ; }
#tag-turkey:before { content: "🦃 " ; }
#tag-turkish:before { content: "🇹🇷 " ; }
#tag-ukrainian:before { content: "🇺🇦 " ; }
#tag-vietnamese:before { content: "🇻🇳 " ; }
#tag-wine:before { content: "🍷 " ; }